/* CSS Code Styling
Tag { Always spaces between values
	Font:
	Height
	Width
	Margin: [top, right, bottom, left]; 
	Padding: [top, right, bottom, left];

	Border
	<Newline if 3 or more above>
	Drop-shadow
	<Newline if 3 or more above>
	Display
	Position
	Float
	Overflow
	z-index
	<Newline between if 3 or more above>
	Color related items
	<Newline between>
	Animation related items
}*/

@import url(https://fonts.googleapis.com/css?family=Raleway:200,400,600);

html {
	font-family: 'Raleway';
	font-weight: 200;
	overflow: hidden;

	background-image: url("Hourglass.png");
	background-size: 1920px 1080px;
}

body {
	margin: 0;
}

header {
	font-weight: 600;
	width: 100%;
	margin: 0;
	box-shadow: 2px 2px 5px 3px #666;

	display: inline-block;
	position: relative;
	z-index: 50;
}

h1,h2,h3,h4,h5 {
	margin: 0;
}

h1 {
	padding: 0.4%;
	float: left;
}

h4 {
	font-size: 130%;
	font-weight: 200;
	padding: 5%;
	-webkit-filter: drop-shadow(2px 2px 5px #333);
	filter: drop-shadow(2px 2px 5px #333);

	display: inline-block;

	-webkit-transition: color 0.5s ease;  
	-moz-transition: color 0.5s ease; 
	-ms-transition: color 0.5s ease;
	transition: color 0.5s ease; 
}

#aboveBar {
	display: inline;
}

.fa-bars, .fa-cog {
	font-size: 200%;
	height: 100%;
	padding: 0.6%;
	padding-right: 0.8%;
	float: left;
	color: #333;

	-webkit-transition: color 0.5s ease, background-color 0.5s ease;  
	-moz-transition: color 0.5s ease, background-color 0.5s ease; 
	-ms-transition: color 0.5s ease, background-color 0.5s ease;
	transition: color 0.5s ease, background-color 0.5s ease; 
}
.fa-cog {
	padding-left: 0.8%;
	float: right;
}

.fa-bars:hover, .fa-cog:hover {
	background-color: #CCC;
}

#loadBar, #progress {
	width: 100%;
	height: 4px;
	display: table;
	background-color: #33ADFF;
}

#menuContainer, #optionsContainer {
	min-height: 100%;
	width: 15%;
	padding: 1% 0 1% 0;
	box-shadow: 2px 2px 5px 3px #666;

	position: absolute;
	z-index:0;
	overflow-x: hidden;
	overflow-y: auto;
	
	-webkit-transition: margin 0.5s ease, background-color 0.5s ease;  
	-moz-transition: margin 0.5s ease, background-color 0.5s ease; 
	-ms-transition: margin 0.5s ease, background-color 0.5s ease;
	transition: margin 0.5s ease, background-color 0.5s ease; 
}

#optionsContainer {
	width: 12%;
	right: 0;
}

.mode, .function {
	width: 100%;
	position: relative;
	background-color: #849CAE;

	-webkit-transition: background-color 0.5s ease;  
	-moz-transition: background-color 0.5s ease; 
	-ms-transition: background-color 0.5s ease;
	transition: background-color 0.5s ease; 
}

.mode:hover, .function:hover {
	background-color: #A2B5C3;
}

.mode:active, .function:active {
	background-color: #eff3f5;

	-webkit-transition: background-color 0.2s ease;  
	-moz-transition: background-color 0.2s ease; 
	-ms-transition: background-color 0.2s ease;
	transition: background-color 0.2s ease; 
}

.fa-university, .fa-calendar {
	font-size: 175%;
	width: 12%;
	padding: 10%;
	-webkit-filter: drop-shadow(2px 2px 5px #666);
	filter: drop-shadow(2px 2px 5px #666);
}

.fa-plus, .fa-minus, .fa-tasks, .fa-graduation-cap {
	font-size: 130%;
	padding: 5%;
	-webkit-filter: drop-shadow(2px 2px 5px #666);
	filter: drop-shadow(2px 2px 5px #666);
}

#functions {
	width: 100%;
	margin-top: 7%;
	border-style: solid;
	border-color: #D9D9D9;
	border-left: none;
}



