#fourohfour {
	color: #FFF;
	width: 100%;
	height: 100%;

	background-color: #222328;
	cursor: default;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#first {
	font-size: 20vh;
	margin: auto;
	text-align: center;

	-webkit-filter: drop-shadow(7px 7px 5px #111);
	filter: drop-shadow(7px 7px 5px #111);
}

#second {
	font-size: 5vh;
	font-weight: 200;
	margin: auto;
	margin-top: 5%;
	text-align: center;

	-webkit-filter: drop-shadow(7px 7px 5px #111);
	filter: drop-shadow(7px 7px 5px #111);
}

#foot {
	color: #888;
	font-size: 2vh;
	font-weight: 200;
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0;
}