.change {
	font-size: 150%;
	color: #8C8C8C;
	cursor: pointer;
}

.profTitle {
	font-size: 150%;
	font-weight: 400;
	margin: 0;
	margin-bottom: 1%;
	margin-right: 30%;
}

.profHea {
	font-size: 300%;
	font-weight: 200;
	padding: 6% 6% 0 8%;
}

#motda {
	font-size: 100%;
	width: 30% !important;
}

#profPage {
	width: 100%;
	height: 100%;
	padding-right: 10%;
	overflow-x: hidden;
	overflow-y: auto;
}

#profMainContainer {
	width: 85%;
	height: auto;
	margin: auto;
}

#profTop {
	position: relative;
}

#profBanner {
	width: 100%;
	margin: 0;
	border-left: 5px solid #0D0D0D;
	border-right: 5px solid #0D0D0D;
}

#profAvatar {
	height: 27vh;
	width: 27vh;

	border: 10px solid #0D0D0D;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;

	position: absolute;
	bottom: -6.5%;
	left: 1.5%;
	z-index: 5;
}

#motdBox {
	width: 100%;
	height: 5%;
	margin-top: -0.3%;
	padding: 0.5% 0 0.5% 0;

	background-color: #0D0D0D;

	border-left: 5px solid #0D0D0D;
	border-right: 5px solid #0D0D0D;
}

#motdBox span {
	font-size: 130% !important;
	margin: 0;
	color: #FFF;
}

.username {
	margin-left: 20% !important;
}

#profCards {
	width: 100%;
	height: 100%;
	margin-top: 3%;
	margin-bottom: 3%;

	border-left: 5px solid transparent;
	border-right: 5px solid transparent;

	display: table;
}

#cardColLeft {
	height: 100%;
	display: table-cell;
	vertical-align: top;
	width: 39.6%;
	float: left;
}

.card {
	width: 95%;
	margin-bottom: 9%;
	box-shadow: 2px 2px 5px 3px #666;
	text-align: left;
}

#profInfo {
	margin-left: 0;
	border-top: 5px solid #CC4444;
}

#about {
	padding: 3% 5% 7% 14%;
}

#mainpage {
	font-size: 90%;
	margin: 0;
	padding: 0.7%;
	background-color: #617C9E;

	box-shadow: -1px 2px 5px 1px #333;

	position: absolute;
	top: 0;
	left: 10%;
	z-index: 50;

	cursor: pointer;

	-webkit-transition: background-color 0.1s ease;  
	-moz-transition: background-color 0.1s ease; 
	-ms-transition: background-color 0.1s ease;
	transition: background-color 0.1s ease;
}

#mainpage:hover {
	background-color: #56708D;
}

#mainpage h2 {
	font-weight: 200;
	width: 100%;

	-webkit-filter: none;
	filter: none !important;
}