.change {
	font-size: 150%;
	color: #8C8C8C;
	cursor: pointer;
}

.radio {
	cursor: pointer;
}

.changeInput {
	font-size: 100%;
	padding: 0;
	color: #8C8C8C;
	position: relative;
}

.profTitle {
	font-size: 150%;
	font-weight: 400;
	margin: 0;
	margin-bottom: 1%;
	margin-right: 30%;
}

.profHea {
	font-size: 300%;
	font-weight: 200;
	padding: 6% 6% 0 8%;
}

#motda {
	font-size: 100%;
	width: 30% !important;
}

#profPage {
	width: 100%;
	height: 100%;
	padding-right: 10%;
	overflow-x: hidden;
	overflow-y: auto;
}

#profMainContainer {
	width: 85%;
	height: auto;
	margin: auto;
}

#profTop {
	position: relative;
}

#profBanner {
	width: 100%;
	margin: 0;
	border-left: 5px solid #0D0D0D;
	border-right: 5px solid #0D0D0D;
}

#profAvatar {
	height: 27vh;
	width: 27vh;

	border: 10px solid #0D0D0D;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;

	position: absolute;
	bottom: -6.5%;
	left: 1.5%;
	z-index: 5;
}

#motdBox {
	width: 100%;
	height: 5%;
	margin-top: -0.3%;
	padding: 0.5% 0 0.5% 0;

	background-color: #0D0D0D;

	border-left: 5px solid #0D0D0D;
	border-right: 5px solid #0D0D0D;
}

#motdBox span {
	font-size: 130% !important;
	margin: 0;
	color: #FFF;
}

.username {
	margin-left: 20% !important;
}

#motdrestrict {
	margin-right: 1% !important;
	float: right;
}

.profOptions {
	box-shadow: 2px 2px 5px 3px #666;

	position: absolute;
	display: none;
	z-index: 5;

	opacity: 0;

	-webkit-transition: opacity 0.4s ease;  
	-moz-transition: opacity 0.4s ease; 
	-ms-transition: opacity 0.4s ease;
	transition: opacity 0.4s ease; 
}

.profOptionText {
	font-size: 150%;
	min-width: 10%;
	padding: 20px;
	margin: 0;

	text-align: center;
	cursor: pointer;
	
	-webkit-transition: box-shadow 0.4s ease;  
	-moz-transition: box-shadow 0.4s ease; 
	-ms-transition: box-shadow 0.4s ease;
	transition: box-shadow 0.4s ease;
}

.profOptions p:hover {
	box-shadow: inset 0 0 0 99999px rgba(0,0,0,0.1);
}

#profCards {
	width: 100%;
	height: 100%;
	margin-top: 3%;
	margin-bottom: 3%;

	border-left: 5px solid transparent;
	border-right: 5px solid transparent;

	display: table;
}

#cardColLeft, #cardColRight {
	height: 100%;
	display: table-cell;
	vertical-align: top;
}

#cardColLeft {
	width: 39.6%;
	float: left;
}

#cardColRight {
	width: 60%;
	float: right;
}

.card {
	width: 95%;
	margin-bottom: 9%;
	box-shadow: 2px 2px 5px 3px #666;
	text-align: left;
}

#profInfo {
	margin-left: 0;
	border-top: 5px solid #CC4444;
}

#about, #preferences {
	padding: 3% 5% 7% 14%;
}

.radioContainer {
	position: relative;
}

#classes {
	padding: 3% 5% 7% 7%;
}

#profClasses {
	height: 90%;
	margin-right: 0;
	border-top: 5px solid #2E4F74;

	float: right;

	-webkit-transition: height 0.5s ease;  
	-moz-transition: height 0.5s ease; 
	-ms-transition: height 0.5s ease;
	transition: height 0.5s ease; 
}

#profClassInfoHolder {
	-webkit-transition: opacity 0.4s ease;  
	-moz-transition: opacity 0.4s ease; 
	-ms-transition: opacity 0.4s ease;
	transition: opacity 0.4s ease; 
}

#profFunctions {
	display: inline;
}

.profFunction {
	margin-right: 1%;
	padding: 2%;

	border: 2px solid rgba(0,0,0,0.2);

	display: inherit;
	cursor: pointer;

	-webkit-transition: background-color 0.4s ease;  
	-moz-transition: background-color 0.4s ease; 
	-ms-transition: background-color 0.4s ease;
	transition: background-color 0.4s ease;
}

.profFunction:hover {
	background-color: rgba(0,0,0,0.1);

}

.profFunction i, .profFunction h4 {
	padding: 1%;
}

.profFunction h4 {
	font-size: 120%;
}

#searchBar {
	display: inline;
}

#profClassSearch {
	font-size: 125%;
	width: 30%;
	margin-top: 3%;
	padding: 1.5% 1% 1.5% 1%;

	-webkit-animation: expand .7s ease 1;
    animation: expand .7s ease 1;
}

.-autocomplete-container {
	display: none;
}

@-webkit-keyframes expand {
    0%	 { width: 0%; }
    100% { width: 30%; }
} 

@keyframes expand {
    0%	 { width: 0%; }
    100% { width: 30%; }
}

#label {
	width: 90%;
	margin-top: 2.5%;
	margin-bottom: 2%;
	
	background-color: rgba(0,0,0,0.2);
	box-shadow: none;

	display: table;
	cursor: default;
}

.classHolder {
	width: 90%;
	max-height: 26vh;
	padding: 1%;
	padding-right: 100%;

	display: inline-block;

	overflow-x: hidden;
	overflow-y: scroll;
}

.classHolder h3 {
	font-style: italic;
	font-weight: 200;
	margin-left: 1%;

	color: #999;

	-webkit-filter :none;
	filter: none;
}

.classBox {
	font-size: 150%;
	width: 100%;
	margin-bottom: 3%;
	padding: 2%;

	background-color: #19B3B3;
	box-shadow: 2px 2px 5px 3px #666;
	display: table;
	cursor: pointer;

	-webkit-transition: background-color 0.4s ease;  
	-moz-transition: background-color 0.4s ease; 
	-ms-transition: background-color 0.4s ease;
	transition: background-color 0.4s ease;
}

.classBox:hover {
	background-color: #138686;
}

#private {
	margin: 3% 35% 0 4%;
	padding: 1.5%;

	background-color: rgba(0,0,0,0.2);

	float: right;
	cursor: pointer;

	-webkit-transition: background-color 0.4s ease;  
	-moz-transition: background-color 0.4s ease; 
	-ms-transition: background-color 0.4s ease;
	transition: background-color 0.4s ease;
}

#private:hover {
	background-color: rgba(0,0,0,0.1);
}

.owned {
	background-color: #27646D;

	-webkit-transition: background-color 0.4s ease;  
	-moz-transition: background-color 0.4s ease; 
	-ms-transition: background-color 0.4s ease;
	transition: background-color 0.4s ease;
}

.owned:hover {
	background-color: #52848B;
}

.classText {
	margin-left: .5%;
	margin-right: 10%;
	display: table-cell;
}

.name {
	width: 45%;
}

.teacher {
	width: 20%;
}

.hour {
	width: 15%;
}

.subscribers {
	width: 13%;
}

.hour.classText, .subscribers.classText {
	text-align: center;
}

#creRules {
	margin: 5%;
	margin-bottom: 0;
}

#create {
	padding: 5%;
	padding-top: 1%;
}

#formContainer {
	margin: 2% 5% 0 5% !important;
	position: relative;	
}

.formDiv {
	margin: 3% 6% 5% 6%;
	width: 35%;
	display: inline-block;
}

.creInput {
	font-size: 120%;
	padding: 3%;
}

.creOp {
	margin: 0 !important;
}

.formDiv .-autocomplete-container {
	margin: 0 0 0 0 !important;
	position: absolute;
	display: inherit !important;
}

#creSubmit {
	font-weight: 200;
	font-size: 140%;
	margin: 0 35% 0 35%;
	padding: 2%;

	background-color: rgba(0,0,0,0.25);
	text-align: center;
	cursor: pointer;

	-webkit-transition: background-color 0.4s ease;  
	-moz-transition: background-color 0.4s ease; 
	-ms-transition: background-color 0.4s ease;
	transition: background-color 0.4s ease;
}

#creSubmit:hover {
	background-color: rgba(0,0,0,0.15);
}

#restrict {
	font-size: 100%;
	font-style: italic;
	font-weight: 300;
	padding-left: 1%;
	color: #999 !important;
}

#mainpage, #logout2 {
	font-size: 90%;
	margin: 0;
	padding: 0.7%;
	background-color: #617C9E;

	box-shadow: -1px 2px 5px 1px #333;

	position: absolute;
	top: 0;
	left: 10%;
	z-index: 50;

	cursor: pointer;

	-webkit-transition: background-color 0.1s ease;  
	-moz-transition: background-color 0.1s ease; 
	-ms-transition: background-color 0.1s ease;
	transition: background-color 0.1s ease;
}

#mainpage:hover {
	background-color: #56708D;
}

#logout2:hover {
	background-color: #C84949;
}

#logout2 {
	background-color: #DE5050;
	position: absolute;
	top: 0;
	left: 85%;
}

#mainpage h2, #logout2 h2 {
	font-weight: 200;
	width: 100%;

	-webkit-filter: none;
	filter: none !important;
}

#createdClasses {
	width: 25%;
	margin-right: -40%;
	padding: 2.5%;

	border-top: 5px solid #27646D;
	box-shadow: -1px 2px 5px 1px #444;

	position: absolute;
	top: 20%;
	right: 0;

	-webkit-transition: margin 0.4s ease;  
	-moz-transition: margin 0.4s ease; 
	-ms-transition: margin 0.4s ease;
	transition: margin 0.4s ease;	
}

#code {
	font-size: 120%;
	width: 30%;
}

#codetext {
	width: 15% !important;
}

#copy, #deleteClass {
	margin-left: 1%;
	padding: 2%;

	background-color: rgba(0,0,0,0.2);
	cursor: pointer;
	
	-webkit-transition: background-color 0.4s ease;  
	-moz-transition: background-color 0.4s ease; 
	-ms-transition: background-color 0.4s ease;
	transition: background-color 0.4s ease
}

#copy:hover, #deleteClass:hover {
	background-color: rgba(0,0,0,0.1);
}

.userAddInput {
	font-size: 100%;
	width: 50%;
	padding: 2%;
}

#createdClasses h3 {
	font-weight: 400;
	font-size: 200%;
}

#createdClasses h4 {
	width: 25%;
	padding-right: 0;
}

#createdClasses .fa-plus {
	cursor: pointer;

	-webkit-transition: color 0.4s ease;  
	-moz-transition: color 0.4s ease; 
	-ms-transition: color 0.4s ease;
	transition: color 0.4s ease;
}

#createdClasses .fa-plus:hover {
	color: #519C39;
}

.userHolder {
	width: 100%;
	max-height: 10vh;
	margin-left: 5%;
	padding: 2%;
	padding-right: 20%;

	overflow-y: scroll;
	overflow-x: hidden;
}

.userBox {
	font-size: 100%;
	width: 80%;
	margin-bottom: 1.5%;
	padding: 2%;

	box-shadow: 1px 1px 5px 1px #666;
	display: table;
}

.email {
	margin-right: 5%;
}

.realname {
	margin-right: 5%;
}

.classBox .fa-times {
	font-size: 110% !important;
}

.userBox .fa-times, .classBox .fa-times {
	font-size: 150%;

	-webkit-transition: color 0.4s ease;  
	-moz-transition: color 0.4s ease; 
	-ms-transition: color 0.4s ease;
	transition: color 0.4s ease;
}

.userBox .fa-times:hover, .classBox .fa-times:hover {
	color: #CC4444;
}

#deleteClass {
	font-size: 150%;
	width: 29%;
	margin: 5% 30% 0 30%;
}

#changeAdmin span {
	font-size: 90%;
	padding: 3%;

	background-color: rgba(0,0,0,0.2);
	display: inline-block;
	cursor: pointer;

	-webkit-transition: background-color 0.4s ease;  
	-moz-transition: background-color 0.4s ease; 
	-ms-transition: background-color 0.4s ease;
	transition: background-color 0.4s ease;
}

#changeAdmin span:hover {
	background-color: rgba(0,0,0,0.1);
}

#changeAdmin input {
	font-size: 100%;
	width: 50%;
	margin-left: 3%;
	margin-right: 5%;
	padding: 2%;

	-webkit-animation: expand2 .7s ease 1;
    animation: expand2 .7s ease 1;
}

@-webkit-keyframes expand2 {
    0%	 { width: 0%; }
    100% { width: 50%; }
} 

@keyframes expand2 {
    0%	 { width: 0%; }
    100% { width: 50%; }
}

.fa-exchange {
	padding: 0 !important;

	-webkit-transition: color 0.4s ease;  
	-moz-transition: color 0.4s ease; 
	-ms-transition: color 0.4s ease;
	transition: color 0.4s ease;
}

.fa-exchange:hover {
	color: #CC4444;
}

#joinPrivClass {
	width: 18%;
	margin-bottom: -20%;
	padding: 1.5%;
	padding-bottom: 2%;

	border-top: 5px solid #852E6D;
	box-shadow: -2px 0px 5px 1px #444;

	position: absolute;
	right: 5%;
	bottom: 0;

	-webkit-transition: margin 0.4s ease;  
	-moz-transition: margin 0.4s ease; 
	-ms-transition: margin 0.4s ease;
	transition: margin 0.4s ease;
}

#joinPrivClass h3 {
	font-weight: 400;
	font-size: 150%;
	margin-bottom: 3%;
}

#privateCode {
	font-size: 130%;
	padding: 1%;
}

#privSubmit {
	font-size: 120%;
	margin-left: 5%;
	padding: 3%;
	background-color: rgba(0,0,0,0.2);
	cursor: pointer;

	-webkit-transition: background-color 0.2s ease;  
	-moz-transition: background-color 0.2s ease; 
	-ms-transition: background-color 0.2s ease;
	transition: background-color 0.2s ease;
}

#privSubmit:hover {
	background-color: rgba(0,0,0,0.1);
}

#profPreferences {
	border-top: 5px solid #409333;
}