/* CSS Code Styling
Tag { Always spaces between values
	Font:
	Height
	Width
	Margin: [top, right, bottom, left]; 
	Padding: [top, right, bottom, left];

	Border
	<Newline if 3 or more above>
	Drop-shadow
	<Newline if 3 or more above>
	Display
	Position
	Float
	Overflow
	z-index
	<Newline between if 3 or more above>
	Color related items
	<Newline between>
	Animation related items
}*/

@import url(https://fonts.googleapis.com/css?family=Raleway:200,300italic,400,600);

html {
	font-family: 'Raleway';
	font-weight: 200;
	height: 100%;
	overflow: hidden;

	pointer-events: all;

	/*background-image: url("Hourglass.png");
	background-size: 1920px 1080px;*/

	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

	-webkit-transition: color 0.5s ease  
	-moz-transition: color 0.5s ease 
	-ms-transition: color 0.5s ease
	transition: color 0.5s ease 
}

::-webkit-input-placeholder {
   font-size: 70%;
}

:-moz-placeholder {
   font-size: 70%;  
}

::-moz-placeholder {
   font-size: 70%;  
}

:-ms-input-placeholder {  
   font-size: 70%;  
}

.formInvalid::-webkit-input-placeholder {
   color: red;
}

.formInvalid:-moz-placeholder {
   color: red;  
}

.formInvalid::-moz-placeholder {
   color: red;  
}

.formInvalid:-ms-input-placeholder {  
   color: red;  
}

body {
	height: 100%;
	margin: 0;

	pointer-events: all;
}

header {
	font-weight: 600;
	width: 100%;
	margin: 0;
	box-shadow: 2px 2px 5px 3px #666;

	display: inline-block;
	position: relative;
	z-index: 50;

	-webkit-transition: background-color 0.5s ease;  
	-moz-transition: background-color 0.5s ease; 
	-ms-transition: background-color 0.5s ease;
	transition: background-color 0.5s ease; 
}

h1,h2,h3,h4,h5 {
	margin: 0;

	-webkit-filter: drop-shadow(2px 2px 5px #666);
	filter: drop-shadow(2px 2px 5px #666);
}

h1 {
	padding: 0.4%;
	float: left;
}

h4 {
	font-size: 130%;
	font-weight: 200;
	padding: 5%;
	-webkit-filter: drop-shadow(2px 2px 5px #333);
	filter: drop-shadow(2px 2px 5px #333);

	display: inline-block;

	-webkit-transition: color 0.5s ease;  
	-moz-transition: color 0.5s ease; 
	-ms-transition: color 0.5s ease;
	transition: color 0.5s ease; 
}

input, textarea {
	font-family: 'Raleway';
	resize: none;
}

#aboveBar {
	display: inline;
}

#aboveBar h2 {
	font-weight: 400;
	padding: 0.6%;
	padding-left: 0;
	float: left;
}

.fa-bars, .fa-cog {
	font-size: 200%;
	height: 100%;
	padding: 0.65%;
	padding-right: 0.8%;

	float: left;

	-webkit-transition: color 0.5s ease, background-color 0.5s ease;  
	-moz-transition: color 0.5s ease, background-color 0.5s ease; 
	-ms-transition: color 0.5s ease, background-color 0.5s ease;
	transition: color 0.5s ease, background-color 0.5s ease; 

	cursor: pointer;
}

.fa-cog {
	padding-left: 0.8%;
	float: right;
}

.fa-bars:hover, .fa-cog:hover {
	background-color: rgba(0,0,0,0.2);
}

#loadBar, #progress {
	width: 100%;
	height: 4px;
	display: table;
	background-color: #33ADFF;
}

#login-buttons {
	display: none;
}

#logout {
	padding: 1%;

    background-color: rgba(0,0,0,0.05);

    float: right;
    text-align: center;

    cursor: pointer;


    -webkit-transition: margin 0.5s ease, background-color 0.5s ease;  
	-moz-transition: margin 0.5s ease, background-color 0.5s ease; 
	-ms-transition: margin 0.5s ease, background-color 0.5s ease;
	transition: margin 0.5s ease, background-color 0.5s ease; 
}

#logout:hover {
	background-color: rgba(0,0,0,0.1);
}

#menuContainer, #optionsContainer {
	min-height: 100%;
	max-height: 100%;
	width: 15%;
	padding: 1% 0 1% 0;
	box-shadow: 2px 2px 5px 3px #666;

	position: absolute;
	z-index: 1;
	overflow: hidden;
	
	-webkit-transition: margin 0.5s ease, background-color 0.5s ease;  
	-moz-transition: margin 0.5s ease, background-color 0.5s ease; 
	-ms-transition: margin 0.5s ease, background-color 0.5s ease;
	transition: margin 0.5s ease, background-color 0.5s ease; 
}

#optionsContainer {
	width: 12%;
	padding: 1.5%;
	right: 0;
}

#optionsContainer .change {
	color: #000;
}

#optionsContainer h3 {
	font-size: 175%;
}

.mode, .function {
	width: 100%;
	position: relative;
	background-color: #849CAE;

	-webkit-transition: background-color 0.5s ease, box-shadow 0.5s ease;  
	-moz-transition: background-color 0.5s ease, box-shadow 0.5s ease; 
	-ms-transition: background-color 0.5s ease, box-shadow 0.5s ease;
	transition: background-color 0.5s ease, box-shadow 0.5s ease; 

	cursor: pointer;
}

.mode:hover, .function:hover {
	box-shadow: inset 0 0 0 99999px rgba(0,0,0,0.1);
}

.mode:active, .function:active {
	box-shadow: inset 0 0 0 99999px rgba(0,0,0,0.3);

	-webkit-transition: box-shadow 0.2s ease;  
	-moz-transition: box-shadow 0.2s ease; 
	-ms-transition: box-shadow 0.2s ease;
	transition: box-shadow 0.2s ease; 
}

.fa-university, .fa-calendar {
	font-size: 175%;
	width: 12%;
	padding: 10%;

	-webkit-filter: drop-shadow(2px 2px 5px #666);
	filter: drop-shadow(2px 2px 5px #666);
}

.fa-plus, .fa-minus, .fa-tasks, .fa-graduation-cap, .fa-exchange {
	font-size: 130%;
	padding: 5%;

	-webkit-filter: drop-shadow(2px 2px 5px #666);
	filter: drop-shadow(2px 2px 5px #666);
}

#functions {
	width: 100%;
	margin-top: 7%;

	border-style: solid;
	border-color: #D9D9D9;
	border-left: none;

	box-shadow: 0px 4px 8px 1px #222;

	position: relative;
	z-index: 1;
}

#classListHolder {
	max-height: 48%;
	width: 100%;
	padding-right: 50%;

	position: absolute;
	overflow-y: auto;
}

#classListHolder h3 {
	font-weight: 200;
	margin: 5%;
	margin-right: 4%;
	display: inline-block;
}

.sideClass {
	width: 100%;
	height: 10%;
	padding: 5%;

	background-color: rgba(255,255,255,0.1);

	-webkit-transition: background-color 0.4s ease;  
	-moz-transition: background-color 0.4s ease; 
	-ms-transition: background-color 0.4s ease;
	transition: background-color 0.4s ease; 
}

.sideClass:hover {
	background-color: rgba(255,255,255,0.3);
}

.sideClassName {
	font-weight: 600;
	margin: 0;
	display: table-row;
}

.sideClassHour {
	font-weight: 400;
	color: #CCC;
	margin: 0;
	display: table-row;
}

.fa-dot-circle-o {
	font-size: 150%;
	color: #53BD42;
	margin-top: -10%;
	margin-right: 10%;

	float: right;

	-webkit-filter: drop-shadow(2px 2px 5px #666);
	filter: drop-shadow(2px 2px 5px #666);
}

#classesMode {
	width: 100%;
	height: 100%;
	display: inline-block;
}

.mainClass {
	width: 15%;
	margin: 2%;
	margin-right: 0;

	box-shadow: 2px 2px 5px 3px #666;
	float: left;
}

.classInfo {
	padding: 6%;
	background-color: rgba(255,255,255,0.3); /* remove when class color */
}

.mainClassName {
	font-size: 160%;

	-webkit-filter: none;
	filter: none;
}

.mainClassHour {
	margin-top: 0;
}

.creWork {
	margin-bottom: 5%;
	cursor: pointer;
	box-shadow: 0px 5px 5px 1px #666;

	-webkit-transition: background-color 0.4s ease;  
	-moz-transition: background-color 0.4s ease; 
	-ms-transition: background-color 0.4s ease;
	transition: background-color 0.4s ease;
}

.creWork:hover {
	background-color: rgba(0,0,0,0.05);
}

.creWork h4 {
	padding-left: 0;
}

.workHolder {
	width: 90%;
	position: relative;
	left: 5%;
}

.workCard {
	width: 100%;
	margin-right: 0;
	margin-bottom: 5%;
	background-color: rgba(255,255,255,0.3);
	box-shadow: 2px 2px 5px 3px #666;
	cursor: pointer;

	-webkit-transition: box-shadow 0.4s ease, transform 0.3s ease;  
	-moz-transition: box-shadow 0.4s ease, transform 0.3s ease; 
	-ms-transition: box-shadow 0.4s ease, transform 0.3s ease;
	transition: box-shadow 0.4s ease, transform 0.3s ease;
}

.workCard:hover {
	box-shadow: 2px 2px 5px 3px #666, inset 0 0 0 99999px rgba(0,0,0,0.09);
}

.cWorkCont {
	padding: 5%;
}

.cWorkType {
	height: 5px;
}

.cWorkName {
	font-weight: 400;
	margin-top: 0;
}

#editWork {
	position: absolute;
	top: 50%;
	left: 50%;
}

#workTypeBar {
	background-color: rgba(0,0,0,0.1);
	height: 2%;
}

#workName {
	font-weight: 400;
}

.workTitle, .prefTitle {
	font-size: 150%;
	font-weight: 400;
	margin: 0 3% 1% 0;
	cursor: default;
}

.prefTitle {
	margin-top: 5%;
}

.workOptions, .prefOptions {
	box-shadow: 2px 2px 5px 3px #666;

	position: absolute;
	display: none;
	z-index: 5;

	opacity: 0;

	-webkit-transition: opacity 0.4s ease;  
	-moz-transition: opacity 0.4s ease; 
	-ms-transition: opacity 0.4s ease;
	transition: opacity 0.4s ease; 
}

.workOptionText, .prefOptionText {
	font-size: 150%;
	min-width: 10%;
	padding: 20px;
	margin: 0;

	text-align: center;
	cursor: pointer;
	
	-webkit-transition: box-shadow 0.4s ease;  
	-moz-transition: box-shadow 0.4s ease; 
	-ms-transition: box-shadow 0.4s ease;
	transition: box-shadow 0.4s ease;
}

.workOptions p:hover, .prefOptions p:hover {
	box-shadow: inset 0 0 0 99999px rgba(0,0,0,0.1);
}

#workInfoContainer {
	width: 70%;
	padding: 2%;
	display: inline-block;
}

#workToggle {
	width: 25%;
	height: 100%;
	display: inline-block;
	float: right;
}

#workInfoNmCont {
	padding: 3%;
}

#workInfoNmCont div {
	margin-bottom: 5%;
}

.datepicker {
	box-shadow: 2px 2px 5px 3px #666;
	background-color: rgba(255,255,255,0.7);
	position: absolute;
}

.inputRadio {
	margin-bottom: 0 !important;
}

.type {
	margin-left: 30%;
}

#workComments h3 {
	margin-bottom: 2%;
	-webkit-filter: none;
	filter: none;
}

#workSubmit {
	font-weight: 200;
	font-size: 140%;
	padding: 4%;

	background-color: rgba(0,0,0,0.25);
	text-align: center;
	cursor: pointer;

	position: absolute;
	left: -91%;
	bottom: 7%;

	-webkit-transition: background-color 0.4s ease;  
	-moz-transition: background-color 0.4s ease; 
	-ms-transition: background-color 0.4s ease;
	transition: background-color 0.4s ease;
}

#workSubmit:hover {
	background-color: rgba(0,0,0,0.15);
}

.overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);

	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 51;

	opacity: 0;
	
	-webkit-transition: opacity 0.4s ease;  
	-moz-transition: opacity 0.4s ease; 
	-ms-transition: opacity 0.4s ease;
	transition: opacity 0.4s ease; 
}

.overlayCont {
	font-size: 165%;
	padding: 1%;
	box-shadow: 2px 2px 5px 3px #666;

	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;

	position: absolute;
	top: 30%;
	left: 50%;

	text-align: center;
}

.fa-check-circle-o, .fa-times-circle-o {
	font-size: 300%;
	padding: 5% 13% 5% 13%;

	color: #333;

	-webkit-transition: color 0.4s ease;  
	-moz-transition: color 0.4s ease; 
	-ms-transition: color 0.4s ease;
	transition: color 0.4s ease;

	cursor: pointer;
}

.fa-check-circle-o:hover {
	color: #85E085;
}

.fa-check-circle-o:active {
	color: #33CC33;

	-webkit-transition: background-color 0.2s ease;  
	-moz-transition: background-color 0.2s ease; 
	-ms-transition: background-color 0.2s ease;
	transition: background-color 0.2s ease; 
}

.fa-times-circle-o:hover {
	color: #FF6666;
}

.fa-times-circle-o:active {
	color: #FF1A1A;

	-webkit-transition: background-color 0.2s ease;  
	-moz-transition: background-color 0.2s ease; 
	-ms-transition: background-color 0.2s ease;
	transition: background-color 0.2s ease; 
}

#bg {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

#mainBody {
	width: 100%;
	height: 100%;
	position: absolute;

	-webkit-transition: opacity 0.4s ease;  
	-moz-transition: opacity 0.4s ease; 
	-ms-transition: opacity 0.4s ease;
	transition: opacity 0.4s ease;
}

#calendar {
	padding-top: 2%;
	height: 100%; 
}

#calbg {
	background-color: rgba(255,255,255,0.3);
	position: absolute;
}

.fc-view-container, .fc-left {
	-webkit-transition: opacity 0.4s ease;  
	-moz-transition: opacity 0.4s ease; 
	-ms-transition: opacity 0.4s ease;
	transition: opacity 0.4s ease;
}

.fc-view-container {
	background-color: rgba(255,255,255,0.8);
}

.fc-left {
	padding: 0.5% 1% 0.5% 1%;
	background-color: rgba(255,255,255,0.8);

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.fc-left h2 {
	font-weight: 400;

	-webkit-filter: none;
	filter: none;
}

.fc-head {
	padding: 0.2% 0 0.2% 0;
}

.fc-day-header {
	padding: 0.5% 0 0.5% 0 !important;
}

.fc td {
	border: solid 1px #C5C5C5;
}

.fc-button {
	background-color: rgba(255,255,255,0.5) !important;
	background-image: none;

	-webkit-transition: background-color 0.4s ease;  
	-moz-transition: background-color 0.4s ease; 
	-ms-transition: background-color 0.4s ease;
	transition: background-color 0.4s ease; 
}

.fc-button:hover {
	background-color: rgba(255,255,255,0.9) !important;
}

.workevent {
	pointer-events: auto;

	-webkit-transition: transform 0.4s ease;  
	-moz-transition: transform 0.4s ease; 
	-ms-transition: transform 0.4s ease;
	transition: transform 0.4s ease; 
}

.workevent span {
	padding: 2%;
	display: inline-block;
}

#calCreWork {
	margin-left: 0 !important;
	color: #fff;

	-webkit-animation: neonglow 1.5s ease-in-out infinite alternate;
    -moz-animation: neonglow 1.5s ease-in-out infinite alternate;
  	animation: neonglow 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes neonglow {
  from {
    text-shadow: 
    0 0 10px #fff, 
    0 0 20px #fff, 
    0 0 30px #fff, 
    0 0 40px #228DFF, 
    0 0 70px #228DFF, 
    0 0 80px #228DFF, 
    0 0 100px #228DFF, 
    0 0 150px #228DFF;
  }
  to {
    text-shadow: 
    0 0 5px #fff, 
    0 0 10px #fff, 
    0 0 15px #fff, 
    0 0 20px #228DFF, 
    0 0 35px #228DFF, 
    0 0 40px #228DFF, 
    0 0 50px #228DFF, 
    0 0 75px #228DFF;
  }
}

#disableFilter {
	font-size: 90%;
	margin: 0 0 0 23% !important;
	padding: 4%;
	background-color: rgba(255,255,255,0.2);

	-webkit-transition: background-color 0.4s ease;  
	-moz-transition: background-color 0.4s ease; 
	-ms-transition: background-color 0.4s ease;
	transition: background-color 0.4s ease;
}

#disableFilter:hover {
	background-color: rgba(255,255,255,0.1);
}

.fc-day:not(.fc-past) {
	box-shadow: inset 0 0 0 99999px rgba(0,0,0,0.1);

	-webkit-transition: box-shadow 0.4s ease;  
	-moz-transition: box-shadow 0.4s ease; 
	-ms-transition: box-shadow 0.4s ease;
	transition: box-shadow 0.4s ease; 
} 

.fc-day:not(.fc-past):hover {
	box-shadow: inset 0 0 0 99999px rgba(0,0,0,0.15);
}

.fc-slats, .fc-content-skeleton {
	pointer-events: none;
}

.fc-more {
	font-weight: 400;
	pointer-events: auto;
}

#prefCont {
	padding: 5%;
}

.inputRadioPref {
	margin-top: 6%;
}

#workComment {
	margin-bottom: 3%;
}

#comment {
	width: 105%;
	position: relative;
	overflow-y: auto;
}

.commentBox {
	margin: 0 !important;
	padding: 2%;
	background-color: rgba(255,255,255,0.1);
	border-bottom: solid 1px #CCC;
}

.commentUser, .commentDate {
	font-size: 75%;
}

#commentRestrict {
	font-weight: 400;
}

#commentSubmit {
	margin-bottom: 0;
	padding: 2%;
	background-color: rgba(0,0,0,0.1);

	display: inline;
	float: right;
	cursor: pointer;

	-webkit-transition: background-color 0.4s ease;  
	-moz-transition: background-color 0.4s ease; 
	-ms-transition: background-color 0.4s ease;
	transition: background-color 0.4s ease;
}

#commentSubmit:hover {
	background-color: rgba(0,0,0,0.2);
}

#done {
	height: 60%;
	top: 0;
}

.doneUser {
	padding: 12%;
	background-color: rgba(0,0,0,0.1);
	overflow-y: auto;

	-webkit-transition: background-color 0.4s ease;  
	-moz-transition: background-color 0.4s ease; 
	-ms-transition: background-color 0.4s ease;
	transition: background-color 0.4s ease;
}

.doneUser:hover {
	background-color: rgba(0,0,0,0.15);
}

.doneUser p {
	margin: 0;
}

#toggleButtons {
	font-size: 150%;
	height: 40%;
	bottom: 0;
}

#toggleButtons i {
	margin-right: 12%;

	-webkit-transition: color 0.4s ease;  
	-moz-transition: color 0.4s ease; 
	-ms-transition: color 0.4s ease;
	transition: color 0.4s ease;
}

#markDone p {
	font-size: 70%;
}

#markDone i {
	margin-right: 5%;
}

#markDone p, #markConfirm p, #markReport p {
	margin: 0;
	display: inline;
}

#markDone, #markConfirm, #markReport {
	padding: 5%;
	background-color: rgba(0,0,0,0.1);

	-webkit-transition: box-shadow 0.4s ease, background-color 0.4s ease;  
	-moz-transition: box-shadow 0.4s ease, background-color 0.4s ease; 
	-ms-transition: box-shadow 0.4s ease, background-color 0.4s ease;
	transition: box-shadow 0.4s ease, background-color 0.4s ease; 
}

#markDone:hover, #markConfirm:hover, #markReport:hover {
	box-shadow: inset 0 0 0 99999px rgba(0,0,0,0.15);
}

#workDelete {
	margin-bottom: 0;
	padding: 4%;
	background-color: rgba(0,0,0,0.1);

	position: absolute;
	bottom: 8%;
	right: 5%;
	cursor: pointer;

	-webkit-transition: background-color 0.4s ease;  
	-moz-transition: background-color 0.4s ease; 
	-ms-transition: background-color 0.4s ease;
	transition: background-color 0.4s ease;
}

#workDelete:hover {
	background-color: rgba(0,0,0,0.15);
}

