/* CSS Code Styling
Tag { Always spaces between values
	Font:
	Height
	Width
	Margin: [top, right, bottom, left]; 
	Padding: [top, right, bottom, left];

	Border
	<Newline if 3 or more above>
	Drop-shadow
	<Newline if 3 or more above>
	Display
	Position
	Float
	Overflow
	z-index
	<Newline between if 3 or more above>
	Color related items
	<Newline between>
	Animation related items
}*/

@import url(https://fonts.googleapis.com/css?family=Raleway:200,300italic,400,600);

html {
	font-family: 'Raleway';
	font-weight: 200;
	height: 100%;
	overflow: hidden;

	pointer-events: all;

	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

	-webkit-transition: color 0.5s ease;  
	-moz-transition: color 0.5s ease; 
	-ms-transition: color 0.5s ease;
	transition: color 0.5s ease;
}

::-webkit-input-placeholder {
   font-size: 70%;
}

:-moz-placeholder {
   font-size: 70%;  
}

::-moz-placeholder {
   font-size: 70%;  
}

:-ms-input-placeholder {  
   font-size: 70%;  
}

.formInvalid::-webkit-input-placeholder {
   color: red;
}

.formInvalid:-moz-placeholder {
   color: red;  
}

.formInvalid::-moz-placeholder {
   color: red;  
}

.formInvalid:-ms-input-placeholder {  
   color: red;  
}

body {
	height: 100%;
	margin: 0;

	pointer-events: all;
}

.noScroll {
	width: 100%;
	height: 100%;
	position: fixed;
}

#mainHeader {
	font-weight: 600;
	width: 100%;
	height: 6vh;
	margin: 0;
	box-shadow: 2px 2px 5px 3px #666;

	display: inline-block;
	position: absolute;
	top: 0;
	z-index: 50;

	-webkit-transition: background-color 0.5s ease;  
	-moz-transition: background-color 0.5s ease; 
	-ms-transition: background-color 0.5s ease;
	transition: background-color 0.5s ease; 
}

#mainHeader h1, #mainHeader h2 {
	font-size: 3.5vh;
	margin-left: 0.5%;
	padding: 0;
	height: 5.5vh;
	line-height: 5.5vh;

	-webkit-filter: none;
	filter: none;
}

#mainHeader h2 {
	font-weight: 200;
	font-size: 3vh;
	float: left;
}

.noScroll h1,.noScroll h2,.noScroll h3,.noScroll h4,.noScroll h5,
.gu-mirror h1,.gu-mirror h2,.gu-mirror h3,.gu-mirror h4,.gu-mirror h5 {
	margin: 0;

	-webkit-filter: drop-shadow(2px 2px 5px #666);
	filter: drop-shadow(2px 2px 5px #666);
}

.noScroll h1, .gu-mirror h1 {
	padding: 0.4%;
	float: left;
}

.noScroll h4, .gu-mirror h4 {
	font-size: 130%;
	font-weight: 200;
	padding: 5%;
	-webkit-filter: drop-shadow(2px 2px 5px #333);
	filter: drop-shadow(2px 2px 5px #333);

	display: inline-block;

	-webkit-transition: color 0.5s ease;  
	-moz-transition: color 0.5s ease; 
	-ms-transition: color 0.5s ease;
	transition: color 0.5s ease; 
}

.noScroll input, .noScroll textarea {
	font-family: 'Raleway';
	background-color: #EBEBEB;
	border: 3px solid #EBEBEB;
	border-radius: 3px;
	resize: none;
}

.fa-bars, .fa-cog {
	font-size: 3.5vh;
	width: 5.5vh;
	height: 5.5vh;
	line-height: 5.5vh;
	text-align: center;

	float: left;

	-webkit-transition: color 0.5s ease, background-color 0.5s ease;  
	-moz-transition: color 0.5s ease, background-color 0.5s ease; 
	-ms-transition: color 0.5s ease, background-color 0.5s ease;
	transition: color 0.5s ease, background-color 0.5s ease; 

	cursor: pointer;
}

#headerBar {
	width: 100%;
	height: 0.5vh;
	background-color: #33ADFF;

	position: absolute;
	bottom: 0;
}

.fa-cog {
	float: right;
}

.fa-bars:hover, .fa-cog:hover {
	background-color: rgba(0,0,0,0.2);
}

#login-buttons {
	display: none !important;
}

#dropdown {
	width: 5.5vh;
	height: 5.5vh;
	float: right;
	display: inline-block;
	cursor: pointer;

	-webkit-transition: background-color 0.5s ease;  
	-moz-transition: background-color 0.5s ease; 
	-ms-transition: background-color 0.5s ease;
	transition: background-color 0.5s ease;
}

#dropdown img{
	width: 4vh;
	height: 4vh;
	padding: .7vh;
	line-height: 5.5vh;

	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

#dropdown:hover {
	background-color: rgba(0,0,0,0.1);
}

#menuContainer, #optionsContainer {
	min-height: 100%;
	max-height: 100%;
	width: 250px;
	padding: 1% 0 1% 0;
	box-shadow: 2px 2px 5px 3px #666;

	position: absolute;
	top: 6vh;
	z-index: 5;
	overflow: hidden;
	
	-webkit-transition: left 0.5s ease, right 0.5s ease, background-color 0.5s ease;  
	-moz-transition: left 0.5s ease, right 0.5s ease, background-color 0.5s ease; 
	-ms-transition: left 0.5s ease, right 0.5s ease, background-color 0.5s ease;
	transition: left 0.5s ease, right 0.5s ease, background-color 0.5s ease; 
}

#optionsContainer {
	padding: 40px 0 40px 40px;
	right: 0;
}

#optionsContainer .change {
	color: #000;
}

#optionsContainer h3 {
	font-size: 175%;
}

.mode, .function {
	width: 100%;
	position: relative;
	background-color: rgba(255,255,255,0.2);

	-webkit-transition: background-color 0.5s ease, box-shadow 0.5s ease;  
	-moz-transition: background-color 0.5s ease, box-shadow 0.5s ease; 
	-ms-transition: background-color 0.5s ease, box-shadow 0.5s ease;
	transition: background-color 0.5s ease, box-shadow 0.5s ease; 

	cursor: pointer;
}

.mode:hover, .function:hover {
	box-shadow: inset 0 0 0 99999px rgba(0,0,0,0.1);
}

.mode:active, .function:active {
	box-shadow: inset 0 0 0 99999px rgba(0,0,0,0.3);

	-webkit-transition: box-shadow 0.2s ease;  
	-moz-transition: box-shadow 0.2s ease; 
	-ms-transition: box-shadow 0.2s ease;
	transition: box-shadow 0.2s ease; 
}

.fa-university, .fa-calendar, .fa-download {
	font-size: 175%;
	width: 12%;
	padding: 10%;

	-webkit-filter: drop-shadow(2px 2px 5px #666);
	filter: drop-shadow(2px 2px 5px #666);
}

.fa-plus, .fa-minus, .fa-tasks, .fa-graduation-cap, .fa-exchange {
	font-size: 130%;
	padding: 5%;

	-webkit-filter: drop-shadow(2px 2px 5px #666);
	filter: drop-shadow(2px 2px 5px #666);
}

#exportText {
    display: inline;
}

.fa-download {
    padding: 0%;
}

#exportDiv {
    position: absolute;
    bottom: 9%;
}

#functions {
	width: 100%;
	margin-top: 7%;

	border-style: solid;
	border-color: #D9D9D9;
	border-left: none;

	box-shadow: 0px 4px 8px 1px #222;

	position: relative;
	z-index: 1;
}

#classListHolder {
	max-height: 48%;
	width: 100%;
	padding-right: 50%;

	overflow-y: auto;
}

#sideClassWrapper {
	max-height: 20vh;
}

#classListHolder h3 {
	font-weight: 200;
	margin: 5%;
	margin-right: 4%;

	display: inline-block;
}

#classFilterHolder h3 {
	font-weight: 200;
	padding: 5%;

	box-shadow: 0px 4px 10px 1px #222;
	background-color: rgba(0,0,0,0.2);
}

.sideClass, .sideFilter {
	width: 100%;
	height: 5vh;
	padding: 1.5vh;

	background-color: rgba(255,255,255,0.1);
	cursor: pointer;

	-webkit-transition: background-color 0.4s ease;  
	-moz-transition: background-color 0.4s ease; 
	-ms-transition: background-color 0.4s ease;
	transition: background-color 0.4s ease; 
}

.sideClass div {
	height: 100%;
	display: inline-block;
}

.sideClass div:first-child {
	width: 80%;
}

.sideClass:hover, .sideFilter:hover {
	background-color: rgba(255,255,255,0.3);
}

.sideClassName {
	font-weight: 600;
	margin: 0;
	display: table-row;
}

.sideClassHour {
	font-weight: 400;
	color: #CCC;
	margin: 0;
	display: table-row;
}

.sideTypeName {
	margin: 0;
	display: inline-block;
}

.sideFilter {
	height: auto;
}

.fa-dot-circle-o {
	font-size: 3vh;
	color: #53BD42;

	float: right;
	text-align: right;
}

.sideClass .fa-dot-circle-o {
	line-height: 4.4vh;
}

.sideFilter div {
	width: 100%;
	height: 100%;
}

.sideFilter .fa-dot-circle-o {
	margin: 0;
	margin-right: 3vh;
	display: inline-block;
}

#classesMode {
	width: 100%;
	height: 94vh;

	position: absolute;
	top: 6vh;
	right: 0;
	bottom: 0;
	left: 0;

	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
}

.mainClass {
	width: 100%;
	padding-bottom: 1%;

	box-shadow: 2px 2px 5px 3px #666;
}

.classWrapper {
	width: 300px;
	height: 100%;
	margin: 10px;
	margin-top: 20px;
	display: inline-block;
	vertical-align: top;
}

.classWrapper:first-child {
	margin-left: 20px;
}

.classWrapper:last-child {
	margin-right: 20px;
}

.classInfo {
	padding: 6%;
	background-color: rgba(255,255,255,0.3); /* remove when class color */
	cursor: pointer;
}

.mainClassName {
	font-size: 160%;
	white-space: normal;
	word-break: break-all;

	-webkit-filter: none !important;
	filter: none !important;
}

.mainClassHour {
	margin-top: 0;
}

.creWork {
	margin-bottom: 5%;
	cursor: pointer;
	box-shadow: 0px 5px 5px 1px #666;

	-webkit-transition: background-color 0.4 ease;  
	-moz-transition: background-color 0.4s ease; 
	-ms-transition: background-color 0.4s ease;
	transition: background-color 0.4s ease;
}

.creWork:hover {
	background-color: rgba(0,0,0,0.05);
}

.creWork h4 {
	padding-left: 0;
}

.workHolder {
	width: 100%;
}

.workCard {
	width: 90%;
	margin: 5%;
	background-color: rgba(255,255,255,0.3);
	box-shadow: 2px 2px 5px 3px #666;
	cursor: pointer;

	-webkit-transition: box-shadow 0.4s ease, transform 0.3s ease;  
	-moz-transition: box-shadow 0.4s ease, transform 0.3s ease; 
	-ms-transition: box-shadow 0.4s ease, transform 0.3s ease;
	transition: box-shadow 0.4s ease, transform 0.3s ease;
}

.workCard:hover {
	box-shadow: 2px 2px 5px 3px #666, inset 0 0 0 99999px rgba(0,0,0,0.09);
}

.cWorkTop {
	width: 100%;
	margin: 0 0 5% 0;
	display: table;
}

.cWorkCreator {
	width: 50%;
	display: table-cell;
	text-align: right;
}

.cWorkDate {
	width: 70%;
	display: table-cell;
}

.cWorkCont {
	padding: 5%;
}

.cWorkType {
	height: 5px;
}

.cWorkName {
	font-weight: 400;
	font-size: 100%;
	width: 50%;
	margin-top: 0;
	
	-webkit-filter: none !important;
	filter: none !important;

	display: table-cell;
	white-space: normal;
}

.cWorkBottom {
	width: 100%;
	display: table;
}

.cWorkBottom div {
	width: 30%;
	display: table-cell;
	text-align: right;
}

input.clickModify, textarea.clickModify {
	width: 100%;
	font-size: 2.2vh;
	font-weight: 200;
	background-color: rgba(0,0,0,0);
	border-color: rgba(0,0,0,0);
	cursor: pointer;

	-webkit-transition: background-color 0.4s ease, border-color 0.4s ease;  
	-moz-transition: background-color 0.4s ease, border-color 0.4s ease; 
	-ms-transition: background-color 0.4s ease, border-color 0.4s ease;
	transition: background-color 0.4s ease, border-color 0.4s ease;
}

input.clickModify:hover, textarea.clickModify:hover {
	background-color: rgba(0,0,0,0.1);
	border-color: rgba(0,0,0,0.1);;
}

textarea.clickModify {
	font-size: 1.8vh;
	width: 100%;
}

#editWork {
	min-height: 68vh;
	margin: auto;
	margin-top: 5%;

	box-shadow: 2px 2px 5px 3px #333;
}

#editWorkCont {
	width: 100%;
	height: 100%;
	min-height: 68vh;

	position: relative;
	display: table;
}

#workTypeBar {
	background-color: rgba(0,0,0,0.1);
	height: 2%;
}

#workNameDiv {
	padding: 4% 4% 0 3.5%;
}

#wName {
	font-weight: 400;
	font-size: 2.5vh;
	width: 70%;
	margin-right: 2%;
}

#wDescription {
	margin-bottom: 1%;
}

.info {
	font-size: 130%;
}

.workTitle, .prefTitle {
	font-size: 150%;
	font-weight: 400;
	margin: 0 3% 1% 0;
	cursor: default;
}

.prefTitle {
	font-size: 140%;
	margin-top: 5%;
}

.prefWrapper {
	width: 85%;
	position: relative;
}

.noneLeft {
	color: red;
}

.clickModify.dropdown {
	font-size: 2.5vh;
	width: 100%;
	border: 1px solid #666;

	background-color: rgba(0,0,0,0.07);
	cursor: pointer;
	outline: 0;

	-webkit-transition: background-color 0.4s ease;  
	-moz-transition: background-color 0.4s ease; 
	-ms-transition: background-color 0.4s ease;
	transition: background-color 0.4s ease; 
}

.clickModify.dropdown:hover {
	background-color: rgba(0,0,0,0.03);
}

.clickModify.dropdown span {
	width: 75%;
	padding: 3% 5% 3% 5%;
	
	display: inline-block;
	pointer-events: none;
}

.fa-caret-down {
	font-size: 2.2vh;
	text-align: right;
	pointer-events: none;
}

.optionHolder {
	width: 100%;
	margin-top: -1px;

	border: 1px solid #666;
	border-top: none;

	position: absolute;
	z-index: 5;
	display: none;

	opacity: 0;

	-webkit-transition: opacity 0.4s ease;  
	-moz-transition: opacity 0.4s ease; 
	-ms-transition: opacity 0.4s ease;
	transition: opacity 0.4s ease; 
}

.optionText {
	font-size: 150%;
	min-width: 10%;
	padding: 4% 7% 4% 7%;
	margin: 0;

	cursor: pointer;
	
	-webkit-transition: box-shadow 0.4s ease;  
	-moz-transition: box-shadow 0.4s ease; 
	-ms-transition: box-shadow 0.4s ease;
	transition: box-shadow 0.4s ease;
}

.selectedOption {
	box-shadow: inset 0 0 0 99999px rgba(0,0,0,0.2);
}

#workInfoContainer, #workToggle {
	height: 100%;
	display: table-cell;
	vertical-align: top;
}

#workInfoContainer {
	width: 70%;
	margin-right: 3%;
	float: left;
}

#workToggle {
	width: 27%;
	float: right;
	vertical-align: top;
}

#workInfoNmCont {
	padding: 3% 0 3% 7%;
	position: relative;
}

#workInfoNmCont div {
	margin-bottom: 3%;
}

#workInfo1 div, #workInfo2 div {
	margin-bottom: 3%;
}

#workInfo1 {
	margin: 0;
	padding: 3% 0 0 7%
}

#workInfo2 {
	margin: 0;
	padding: 0 0 3% 7%;
}

#wType {
	margin: 0 !important;
}

#typeWrapper {
	margin: 0 !important;
	min-width: 56%;
	position: relative;
	display: inline-block;
}

.datepicker {
	box-shadow: 2px 2px 5px 3px #666;
	color: #000;
	background-color: rgba(250,250,250,0.85);
	position: absolute;
}

.type {
	margin: -1px 0 0 0 !important;
}

#workComments h3 {
	margin-bottom: 2%;
	-webkit-filter: none;
	filter: none;
}

#workSubmit, #workDelete {
	font-weight: 200;
	font-size: 140%;
	padding: 2%;

	background-color: rgba(0,0,0,0.25);
	text-align: center;
	cursor: pointer;

	position: absolute;
	right: 3%;
	bottom: 3%;

	-webkit-transition: background-color 0.4s ease;  
	-moz-transition: background-color 0.4s ease; 
	-ms-transition: background-color 0.4s ease;
	transition: background-color 0.4s ease;
}

#workSubmit:hover, #workDelete:hover {
	background-color: rgba(0,0,0,0.15);
}

.overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);

	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 51;

	opacity: 0;
	
	-webkit-transition: opacity 0.4s ease;  
	-moz-transition: opacity 0.4s ease; 
	-ms-transition: opacity 0.4s ease;
	transition: opacity 0.4s ease; 
}

.overlayCont {
	font-size: 3.1vh;
	width: 20vw;
	height: 20vh;
	margin: auto;
	margin-top: 25vh;
	padding: 1%;
	box-shadow: 2px 2px 5px 3px #666;

	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;

	text-align: center;
}

.overlayCont i {
	font-size: 8vh;
	margin: 0 10% 0 10%;
	text-align: center;
}

#faCont {
	width: 100%;
}

.fa-check-circle-o, .fa-times-circle-o {
	-webkit-transition: color 0.4s ease;  
	-moz-transition: color 0.4s ease; 
	-ms-transition: color 0.4s ease;
	transition: color 0.4s ease;

	cursor: pointer;
}

.fa-check-circle-o:hover {
	color: #85E085;
}

.fa-check-circle-o:active {
	color: #33CC33;

	-webkit-transition: background-color 0.2s ease;  
	-moz-transition: background-color 0.2s ease; 
	-ms-transition: background-color 0.2s ease;
	transition: background-color 0.2s ease; 
}

.fa-times-circle-o:hover {
	color: #FF6666;
}

.fa-times-circle-o:active {
	color: #FF1A1A;

	-webkit-transition: background-color 0.2s ease;  
	-moz-transition: background-color 0.2s ease; 
	-ms-transition: background-color 0.2s ease;
	transition: background-color 0.2s ease; 
}

#bg {
	min-height: 100%;
	width: 100%;
	height: auto;

	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

#mainBody {
	width: 100%;
	height: 100%;
	position: relative;

	-webkit-transition: opacity 0.4s ease;  
	-moz-transition: opacity 0.4s ease; 
	-ms-transition: opacity 0.4s ease;
	transition: opacity 0.4s ease;
}

#calendar {
	color: #000;
	width: 90%;
	height: 94vh;
	margin: auto;
	padding-top: 5%;

	position: absolute;
	top: 6vh;
	right: 0;
	bottom: 0;
	left: 0;	
}

#fullcalendar {
	background-color: rgba(255,255,255,0.3); 
	border: 2vh solid rgba(255,255,255,0.3);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

.fc-view-container, .fc-left {
	-webkit-transition: opacity 0.4s ease;  
	-moz-transition: opacity 0.4s ease; 
	-ms-transition: opacity 0.4s ease;
	transition: opacity 0.4s ease;
}

.fc-view-container {
	background-color: rgba(255,255,255,0.8);
}

.fc-left {
	padding: 0.5% 1% 0.5% 1%;
	background-color: rgba(255,255,255,0.8);

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.fc-left h2 {
	font-weight: 400;

	-webkit-filter: none;
	filter: none;
}

.fc-head {
	padding: 0.2% 0 0.2% 0;
}

.fc-day-header {
	padding: 0.5% 0 0.5% 0 !important;
}

.fc td {
	border: solid 1px #C5C5C5;
}

.fc-button {
	background-color: rgba(255,255,255,0.5) !important;
	background-image: none;

	-webkit-transition: background-color 0.4s ease;  
	-moz-transition: background-color 0.4s ease; 
	-ms-transition: background-color 0.4s ease;
	transition: background-color 0.4s ease; 
}

.fc-button:hover {
	background-color: rgba(255,255,255,0.9) !important;
}

.workevent {
	pointer-events: auto;

	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);

	-webkit-transition: transform 0.4s ease;  
	-moz-transition: transform 0.4s ease; 
	-ms-transition: transform 0.4s ease;
	transition: transform 0.4s ease; 
}

.workevent span {
	padding: 2%;
	display: inline-block;
}

#calCreWork {
	margin-left: 0 !important;
	color: #fff;

	-webkit-animation: neonglow 1.5s ease-in-out infinite alternate;
    -moz-animation: neonglow 1.5s ease-in-out infinite alternate;
  	animation: neonglow 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes neonglow {
  from {
    text-shadow: 
    0 0 10px #fff, 
    0 0 20px #fff, 
    0 0 30px #fff, 
    0 0 40px #228DFF, 
    0 0 70px #228DFF, 
    0 0 80px #228DFF, 
    0 0 100px #228DFF, 
    0 0 150px #228DFF;
  }
  to {
    text-shadow: 
    0 0 5px #fff, 
    0 0 10px #fff, 
    0 0 15px #fff, 
    0 0 20px #228DFF, 
    0 0 35px #228DFF, 
    0 0 40px #228DFF, 
    0 0 50px #228DFF, 
    0 0 75px #228DFF;
  }
}

@keyframes neonglow {
	from {
    text-shadow: 
    0 0 10px #fff, 
    0 0 20px #fff, 
    0 0 30px #fff, 
    0 0 40px #228DFF, 
    0 0 70px #228DFF, 
    0 0 80px #228DFF, 
    0 0 100px #228DFF, 
    0 0 150px #228DFF;
  }
  to {
    text-shadow: 
    0 0 5px #fff, 
    0 0 10px #fff, 
    0 0 15px #fff, 
    0 0 20px #228DFF, 
    0 0 35px #228DFF, 
    0 0 40px #228DFF, 
    0 0 50px #228DFF, 
    0 0 75px #228DFF;
  }
}

#disableFilter {
	font-size: 90%;
	margin: 0 0 0 23% !important;
	padding: 4%;
	background-color: rgba(255,255,255,0.2);

	-webkit-transition: background-color 0.4s ease;  
	-moz-transition: background-color 0.4s ease; 
	-ms-transition: background-color 0.4s ease;
	transition: background-color 0.4s ease;
}

#disableFilter:hover {
	background-color: rgba(255,255,255,0.1);
}

.fc-past {
	background-color: rgba(0,0,0,0.2);
}

.fc-day:not(.fc-past) {
	cursor: pointer;

	-webkit-transition: box-shadow 0.4s ease;  
	-moz-transition: box-shadow 0.4s ease; 
	-ms-transition: box-shadow 0.4s ease;
	transition: box-shadow 0.4s ease; 
} 

.fc-day:not(.fc-past):hover {
	box-shadow: inset 0 0 0 99999px rgba(0,0,0,0.1);
}

.fc-slats, .fc-content-skeleton {
	pointer-events: none;
}

.fc-more {
	font-weight: 400;
	pointer-events: auto;
}

#prefCont {
	margin-left: 5%;
}

#prefCont .changeInput {
	width: 70%;
}

.inputRadioPref {
	margin-top: 6%;
}

#workComment {
	width: 99%;
	margin-bottom: 3%;
}

#comment {
	width: 100%;
	max-height: 20vh;
	position: relative;
	overflow-y: auto;
}

.commentBox {
	margin: 0 !important;
	height: 50%;
	padding: 2%;
	background-color: rgba(255,255,255,0.1);
	border-bottom: solid 1px #CCC;
}

.commentAvatarCont {
	margin: 0 1% -3% 0 !important;
	background-color: rgba(255,255,255,1);

	-moz-border-radius: 10%;
	-webkit-border-radius: 10%;
	border-radius: 10%;

	display: inline-block;
}

.commentAvatar {
	height: 4vh;
	width: 4vh;
	margin-bottom: -10%;

	-moz-border-radius: 10%;
	-webkit-border-radius: 10%;
	border-radius: 10%;

	-webkit-transition: opacity 0.4s ease;  
	-moz-transition: opacity 0.4s ease; 
	-ms-transition: opacity 0.4s ease;
	transition: opacity 0.4s ease; 
}

.commentAvatar:hover {
	opacity: 0.9;
}

.commentInfo {
	max-height: 5%;
	margin: 0 !important;
	display: inline-block;
}

.commentUser:hover {
	text-decoration: underline;
}

.commentUser, .commentDate {
	font-size: 75%;
}

.commentAvatar, .commentUser {
	cursor: pointer;
}

#commentRestrict {
	font-weight: 400;
}

#commentSubmit {
	margin-bottom: 0;
	padding: 2%;
	background-color: rgba(0,0,0,0.1);

	display: inline;
	float: right;
	cursor: pointer;

	-webkit-transition: background-color 0.4s ease;  
	-moz-transition: background-color 0.4s ease; 
	-ms-transition: background-color 0.4s ease;
	transition: background-color 0.4s ease;
}

#commentSubmit:hover {
	background-color: rgba(0,0,0,0.2);
}

#doneUsers {
	height: 34vh;
	top: 0;
	overflow-y: auto;
}

.doneUser {
	font-size: 2vh;
	margin: 0;
	padding: 5%;
	background-color: rgba(0,0,0,0.1);

	position: relative;
	cursor: pointer;

	-webkit-transition: background-color 0.4s ease;  
	-moz-transition: background-color 0.4s ease; 
	-ms-transition: background-color 0.4s ease;
	transition: background-color 0.4s ease;
}

.doneUser:hover {
	background-color: rgba(0,0,0,0.15);
}

.doneUser div {
	text-align: center;
}

.doneUser img {
	margin-bottom: 0.3vw;

	display: inline-block;
	vertical-align: middle;
	line-height: normal;

	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.doneUser span {
	margin-bottom: 0.3vw;

	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

#toggleButtons {
	font-size: 150%;
	height: 40%;
	bottom: 0;
}

#toggleButtons div {
	cursor: pointer;
}

#toggleButtons i {
	margin-right: 12%;

	-webkit-transition: color 0.4s ease;  
	-moz-transition: color 0.4s ease; 
	-ms-transition: color 0.4s ease;
	transition: color 0.4s ease;
}

#markDone p {
	font-size: 70%;
}

#markDone i {
	margin-right: 5%;
}

#markDone p, #markConfirm p, #markReport p {
	margin: 0;
	display: inline;

}
#markDone, #markConfirm, #markReport {
	padding: 5%;
	background-color: rgba(0,0,0,0.1);

	-webkit-transition: box-shadow 0.4s ease, background-color 0.4s ease;  
	-moz-transition: box-shadow 0.4s ease, background-color 0.4s ease; 
	-ms-transition: box-shadow 0.4s ease, background-color 0.4s ease;
	transition: box-shadow 0.4s ease, background-color 0.4s ease; 
}

#markDone:hover, #markConfirm:hover, #markReport:hover {
	box-shadow: inset 0 0 0 99999px rgba(0,0,0,0.15);
}

#userTab {
	width: 0; 
	height: 0; 

	border-left: 2.5vh solid transparent;
	border-right: 2.5vh solid transparent;
	
	-webkit-filter: drop-shadow(0px -1px 1px #444);
	filter: drop-shadow(0px -1px 1px #444);
	

	position: absolute;
	top: -2.9vh;
	right: 2vw;
	z-index: 18;
}

#userDropdown {
	width: 15vw;
	margin-top: 10vh;

	box-shadow: 2px 2px 5px 2px #666;	
	display: none;

	position: absolute;
	top: 1vh;
	right: 4vw;
	z-index: 20;

	opacity: 0;

	-webkit-transition: opacity 0.4s ease;  
	-moz-transition: opacity 0.4s ease;
	-ms-transition: opacity 0.4s ease;
	transition: opacity 0.4s ease; 
}

#userDropdownAvatar {
	width: 100%;
	height: 16vh;
	position: relative;
}

#userDropdownAvatar img {
	width: 9vh;
	height: 9vh;
	margin: -6.5vh 0 0 -5.25vh;

	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;

	position: absolute;
	top: 50%;
	left: 50%;
}

#userDropdownAvatar p {
	font-size: 2.4vh;
	width: 15vw;
	margin: 0 auto 0 auto;
	padding-top: 12.4vh;
	text-align: center;
}

#userFunctions {
	margin-bottom: 1%;
	border-bottom: 2px solid #666;
}

.userFunction {
	font-size: 2.5vh;
	width: 100%;
	background-color: rgba(255,255,255,0.3);
	cursor: pointer;

	-webkit-transition: background-color 0.4s ease;  
	-moz-transition: background-color 0.4s ease; 
	-ms-transition: background-color 0.4s ease;
	transition: background-color 0.4s ease;
}

.userFunction:hover {
	background-color: rgba(255,255,255,0.1);
}

.userFunction i, .userFunction p {
	margin: 0;
	padding: 7% 0 7% 10%;
	display: inline-block;
}

#requests {
	width: 300px;
	height: 170px;
	padding: 30px;

	border-top: 5px solid #852E6D;
	box-shadow: -2px 0px 5px 1px #444;

	position: absolute;
	right: 5vw;
	bottom: 0;

	z-index: 30;

	-webkit-transition: bottom 0.4s ease;  
	-moz-transition: bottom 0.4s ease; 
	-ms-transition: bottom 0.4s ease;
	transition: bottom 0.4s ease;
}

#requestTab {
	width: 70px;
	height: 50px;

	border-top: 5px solid #852E6D;
	box-shadow: -2px -4px 5px 0px #444;

	position: absolute;
	right: 0;
	top: -55px;

	cursor: pointer;
	z-index: 15;
}

.fa-question {
	font-size: 36px;
	width: 50px;
	padding: 5px 10px 1px 10px;
	text-align: center;

	-webkit-transition: background-color 0.4s ease;  
	-moz-transition: background-color 0.4s ease; 
	-ms-transition: background-color 0.4s ease;
	transition: background-color 0.4s ease;
}

.fa-question:hover {
	background-color: rgba(0,0,0,0.1);
}

#requests p {
	font-size: 80%;
	font-weight: 400;
	margin: 0;
	margin-bottom: 1vh;
}

#requests textarea {
	width: 96%;
	height: 100px;
	margin-bottom: 10px;
}

#requestCont{
	width: 100%;
}

#requestSubmit {
	font-weight: 200;
	font-size: 20px;
	margin-right: 2%;
	padding: 2%;

	background-color: rgba(0,0,0,0.25);
	float: right;

	text-align: center;
	cursor: pointer;

	-webkit-transition: background-color 0.4s ease;  
	-moz-transition: background-color 0.4s ease; 
	-ms-transition: background-color 0.4s ease;
	transition: background-color 0.4s ease;
}

#requestSubmit:hover {
	background-color: rgba(0,0,0,0.15);
}

.scaled {
	-webkit-transform: scale(1.12);
	-ms-transform: scale(1.12);
	transform: scale(1.12);
}

.gu-mirror {
	transform-origin: top left;
	-webkit-transform: rotate(6deg);
	-ms-transform: rotate(6deg);
	transform: rotate(6deg);
}
