/* CSS Code Styling
Tag { Always spaces between values
	Font:
	Height
	Width
	Margin: [top, right, bottom, left]; 
	Padding: [top, right, bottom, left];

	Border
	<Newline if 3 or more above>
	Drop-shadow
	<Newline if 3 or more above>
	Display
	Position
	Float
	Overflow
	z-index
	<Newline between if 3 or more above>
	Color related items
	<Newline between>
	Animation related items
}*/

@import url(https://fonts.googleapis.com/css?family=Raleway:200,400,600);

html {
	font-family: 'Raleway';
	font-weight: 200;
	overflow: hidden;

	/*background-image: url("Hourglass.png");
	background-size: 1920px 1080px;*/

	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
	margin: 0;
}

header {
	font-weight: 600;
	width: 100%;
	margin: 0;
	box-shadow: 2px 2px 5px 3px #666;

	display: inline-block;
	position: relative;
	z-index: 50;
}

h1,h2,h3,h4,h5 {
	margin: 0;

	-webkit-filter: drop-shadow(2px 2px 5px #666);
	filter: drop-shadow(2px 2px 5px #666);
}

h1 {
	padding: 0.4%;
	float: left;
}

h4 {
	font-size: 130%;
	font-weight: 200;
	padding: 5%;
	-webkit-filter: drop-shadow(2px 2px 5px #333);
	filter: drop-shadow(2px 2px 5px #333);

	display: inline-block;

	-webkit-transition: color 0.5s ease;  
	-moz-transition: color 0.5s ease; 
	-ms-transition: color 0.5s ease;
	transition: color 0.5s ease; 
}

input {
	font-family: 'Raleway';
}

#aboveBar {
	display: inline;
}

#aboveBar h2 {
	font-weight: 400;
	padding: 0.6%;
	padding-left: 0;
	float: left;
}

.fa-bars, .fa-cog {
	font-size: 200%;
	height: 100%;
	padding: 0.6%;
	padding-right: 0.8%;

	float: left;
	color: #333;

	-webkit-transition: color 0.5s ease, background-color 0.5s ease;  
	-moz-transition: color 0.5s ease, background-color 0.5s ease; 
	-ms-transition: color 0.5s ease, background-color 0.5s ease;
	transition: color 0.5s ease, background-color 0.5s ease; 

	cursor: pointer;
}
.fa-cog {
	padding-left: 0.8%;
	float: right;
}

.fa-bars:hover, .fa-cog:hover {
	background-color: #CCC;
}

#loadBar, #progress {
	width: 100%;
	height: 4px;
	display: table;
	background-color: #33ADFF;
}

#menuContainer, #optionsContainer {
	min-height: 100%;
	max-height: 100%;
	width: 15%;
	padding: 1% 0 1% 0;
	box-shadow: 2px 2px 5px 3px #666;

	position: absolute;
	z-index:0;
	overflow: hidden;
	
	-webkit-transition: margin 0.5s ease, background-color 0.5s ease;  
	-moz-transition: margin 0.5s ease, background-color 0.5s ease; 
	-ms-transition: margin 0.5s ease, background-color 0.5s ease;
	transition: margin 0.5s ease, background-color 0.5s ease; 
}

#optionsContainer {
	width: 12%;
	right: 0;
}

.mode, .function {
	width: 100%;
	position: relative;
	background-color: #849CAE;

	-webkit-transition: background-color 0.5s ease;  
	-moz-transition: background-color 0.5s ease; 
	-ms-transition: background-color 0.5s ease;
	transition: background-color 0.5s ease; 

	cursor: pointer;
}

.mode:hover, .function:hover {
	background-color: #A2B5C3;
}

.mode:active, .function:active {
	background-color: #EFF3F5;

	-webkit-transition: background-color 0.2s ease;  
	-moz-transition: background-color 0.2s ease; 
	-ms-transition: background-color 0.2s ease;
	transition: background-color 0.2s ease; 
}

.fa-university, .fa-calendar {
	font-size: 175%;
	width: 12%;
	padding: 10%;
	-webkit-filter: drop-shadow(2px 2px 5px #666);
	filter: drop-shadow(2px 2px 5px #666);
}

.fa-plus, .fa-minus, .fa-tasks, .fa-graduation-cap {
	font-size: 130%;
	padding: 5%;
	-webkit-filter: drop-shadow(2px 2px 5px #666);
	filter: drop-shadow(2px 2px 5px #666);
}

#functions {
	width: 100%;
	margin-top: 7%;

	border-style: solid;
	border-color: #D9D9D9;
	border-left: none;

	box-shadow: 0px 4px 8px 1px #222;

	position: relative;
	z-index: 1;
}

#functionHolder {
	max-height: 48%;
	width: 90%;
	margin-bottom: 30%;
	padding: 8%;
	padding-right: 50%;

	display: none;
	position: absolute;
	overflow-y: auto;
	opacity: 0;

	-webkit-transition: opacity 0.4s ease;  
	-moz-transition: opacity 0.4s ease; 
	-ms-transition: opacity 0.4s ease;
	transition: opacity 0.4s ease;
}

#create {
	font-size: 140%;
	width: 100%;
}

.input {
	margin: 0;
	margin-top: 3%;
	margin-bottom: -9%;

	-webkit-filter: drop-shadow(2px 2px 5px #666);
	filter: drop-shadow(2px 2px 5px #666);
}

.creSubmit {
	width: 100%;
	margin-top: 30%;
	padding: 3% 0 3% 0;
	text-align: center;
	background-color: #849CAE;

	-webkit-transition: background-color 0.5s ease;  
	-moz-transition: background-color 0.5s ease; 
	-ms-transition: background-color 0.5s ease;
	transition: background-color 0.5s ease;

	cursor: pointer;
}

.creSubmit:hover {
	background-color: #A2B5C3;
}

.creSubmit:active {
	background-color: #EFF3F5;

	-webkit-transition: background-color 0.2s ease;  
	-moz-transition: background-color 0.2s ease; 
	-ms-transition: background-color 0.2s ease;
	transition: background-color 0.2s ease; 
}

.creInput, select {
	font-family: 'Raleway';
	width: 90%;
	margin-bottom: 4%;
	padding: 3.5%;

	position: relative;
	z-index: 0;
}

select {
	font-family: 'Raleway';
	width: 100%;
}

.creOptions {
	width: 80%;
	margin-top: -3.4%;

	box-shadow: 2px 2px 5px 3px #666;

	display: none;
	position: absolute;
	z-index: 5;
	opacity: 0;

	-webkit-transition: opacity 0.4s ease;  
	-moz-transition: opacity 0.4s ease; 
	-ms-transition: opacity 0.4s ease;
	transition: opacity 0.4s ease; 
}

.creOptions p {
	margin: 0;
	padding: 5%;
	display: block;
}

.creOptions p:hover {
	box-shadow: inset 0 0 0 99999px rgba(0,0,0,0.1)
}

.overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);

	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 51;

	opacity: 0;
	
	-webkit-transition: opacity 0.4s ease;  
	-moz-transition: opacity 0.4s ease; 
	-ms-transition: opacity 0.4s ease;
	transition: opacity 0.4s ease; 
}

.overlayCont {
	font-size: 165%;
	padding: 1%;
	box-shadow: 2px 2px 5px 3px #666;

	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;

	position: absolute;
	top: 50%;
	left: 50%;

	text-align: center;
}

.fa-check-circle-o, .fa-times-circle-o {
	font-size: 300%;
	padding: 5% 13% 5% 13%;

	color: #333;

	-webkit-transition: color 0.4s ease;  
	-moz-transition: color 0.4s ease; 
	-ms-transition: color 0.4s ease;
	transition: color 0.4s ease;

	cursor: pointer;
}

.fa-check-circle-o:hover {
	color: #85E085;
}

.fa-check-circle-o:active {
	color: #33CC33;

	-webkit-transition: background-color 0.2s ease;  
	-moz-transition: background-color 0.2s ease; 
	-ms-transition: background-color 0.2s ease;
	transition: background-color 0.2s ease; 
}

.fa-times-circle-o:hover {
	color: #FF6666;
}

.fa-times-circle-o:active {
	color: #ff1A1A;

	-webkit-transition: background-color 0.2s ease;  
	-moz-transition: background-color 0.2s ease; 
	-ms-transition: background-color 0.2s ease;
	transition: background-color 0.2s ease; 
}

#bg {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

#mainBody {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;

	display: none;
	opacity: 0;

	-webkit-transition: opacity 0.4s ease;  
	-moz-transition: opacity 0.4s ease; 
	-ms-transition: opacity 0.4s ease;
	transition: opacity 0.4s ease;
}

#calendar {
	padding-top: 2%;
	height: 100%; 
}

.fc-view-container {
	background-color: rgba(255,255,255,0.8);
}

.fc-left {
	padding: 0.5% 1% 0.5% 1%;
	background-color: rgba(255,255,255,0.8);

	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.fc-left h2 {
	font-weight: 400;
}

.fc-head {
	padding: 0.2% 0 0.2% 0;
}

.fc-day-header {
	padding: 0.5% 0 0.5% 0 !important;
}

.fc-button {
	background-color: rgba(255,255,255,0.5) !important;
	background-image: none;

	-webkit-transition: background-color 0.4s ease;  
	-moz-transition: background-color 0.4s ease; 
	-ms-transition: background-color 0.4s ease;
	transition: background-color 0.4s ease; 
}

.fc-button:hover {
	background-color: rgba(255,255,255,0.9) !important;

}