#loginCont {
	width: 100%;
	height: 100%;
	display: table;

	table-layout: fixed;
	border-collapse: collapse;
}

#bottomBar {
	width: 100%;
	height: 4px;
	background-color: #33ADFF;
	position: absolute;
	top: 13vh;
	z-index: 51;
}

#loginHeader {
	font-weight: 600;
	width: 100%;
	height: 13vh;

	background-color: #EBEBEB;
	box-shadow: 2px 2px 5px 3px #666;

	display: table-row;
	position: absolute;
	top: 0;
	z-index: 50;
}

#logo {
	height: 10vh;
	width: 10vh;
	padding: 1.5vh;
	line-height: 13vh;

	float: left;

	-webkit-filter: drop-shadow(2px 2px 5px #333);
	filter: drop-shadow(2px 2px 5px #333);
}

#loginTitle {
	font-size: 5vh;
	color: #000 !important;
	height: 13vh;
	line-height: 13vh;
	padding: 0 0 0 1vw;

	-webkit-filter: none;
	filter: none;
}

#loginMain {
	width: 100%;
	height: 80vh;

	background-color: #E5E5E5;
	background-image: url("banner100.jpg");
	background-size: 100vw 80vh;

	display: table-row;
	position: absolute;
	top: 13vh;
}

#circle {
	width: 95vh;
	height: 95vh;
	margin: auto;
	margin-top: -8vh;

	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;

	background-color: rgba(0,0,0,0.2);
	position: relative;
	z-index: 0;

	-webkit-filter: drop-shadow(2px 2px 5px #333);
	filter: drop-shadow(2px 2px 5px #333);
}

#loginContent {
	width: 80%;
	margin: auto;
	padding-top: 16vh;
}

.text {
	text-align: center;
	color: #FFF;

	-webkit-filter: drop-shadow(2px 2px 5px #444);
	filter: drop-shadow(2px 2px 5px #444);
}

h2.text {
	font-size: 8vh;
	padding-bottom: 2%;
	border-bottom: 1px solid #FEFEFE;
}

p.text {
	font-size: 2.5vh;
	margin-bottom: 5%;
}

#loginButton {
	font-size: 3.5vh;
	width: 25%;
	margin: auto;
	padding: 2%;

	-webkit-border-radius: 6;
	-moz-border-radius: 6;
	border-radius: 6px;

	position: relative;

	background-color: #005CE6;

	-webkit-transition: background-color 0.4s ease;  
	-moz-transition: background-color 0.4s ease; 
	-ms-transition: background-color 0.4s ease;
	transition: background-color 0.4s ease; 

	cursor: pointer;
}

#loginButton:hover {
	background-color: #0066FF;
}

#loginButton:active {
	background-color: #FF4D4D;

	-webkit-transition: background-color 0.1s ease;  
	-moz-transition: background-color 0.1s ease; 
	-ms-transition: background-color 0.1s ease;
	transition: background-color 0.1s ease; 
}

#loginFooter {
	width: 100%;
	height: 8vh;
	box-shadow: 2px 2px 5px 3px #666;
	background-color: #EBEBEB;
	position: absolute;
	bottom: 0;
}

.login-button {
	display: none !important;
}

#github {
	font-size: 3vh;
	color: #000 !important;
	margin: 0;
	height: 8vh;
	line-height: 8vh;
	padding: 0 0 0 1vw;

	-webkit-filter: drop-shadow(2px 2px 5px #444);
	filter: drop-shadow(2px 2px 5px #444);
}

a {
	color: #0099CC;
	text-decoration: none;

	-webkit-transition: color 0.4s ease;  
	-moz-transition: color 0.4s ease; 
	-ms-transition: color 0.4s ease;
	transition: color 0.4s ease
}

a:hover {
	color: #00BFFF;
}

