.content-wrapper {
	  background-color: #232427 !important;
}

.content-wrapper h4 {
	color: #FEFEFE;
}

.col-lg-3 {
	-webkit-filter: drop-shadow(2px 2px 2px #CCC);
	filter: drop-shadow(2px 2px 2px #666);
}

.main-header .logo {
	background-color: #222d32;
}
.main-sidebar {
	box-shadow: -2px 1px 1px 5px #666;
}

.navbar {
	background-color: #2F414A !important;
	box-shadow: 7px -2px 1px 5px #666;
}

.content-header h1, #adminAddWrapper {
	background-color: #FFF;
	border: 5px solid #FFF;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.breadcrumb {
	margin-right: 1%;
}

.adminUserIcon, .simpleUserIcon {
	width: 2.7vw;
	margin: 1%;

	cursor: pointer;

	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.adminUserInfo {
	margin-top: 1vh;
	padding: 0.5% 1.5% 0.5% 1.5%;

	background-color: #fff;
	-webkit-filter: drop-shadow(0px -1px 2px #666);
	filter: drop-shadow(0px -1px 2px #666);

	position: fixed;
	display: none;
	z-index: 5;
}

.adminUserInfo p {
	margin: 5% 0 5% 0;
}

.infoTitle {
	font-weight: 600;
}

.infoTab {
	width: 0; 
	height: 0; 

	border-bottom: 2vh solid #fff;
	border-left: 1.5vh solid transparent;
	border-right: 1.5vh solid transparent;

	position: absolute;
	right: 1vh;
	top: -1.9vh;
}

.approveStatus {
	cursor: pointer;
}

.approveStatus .fa {
	font-size: 5vh
}

.approveStatus .fa-toggle-on {
	color: #288CD3;
}

.addAdmin {
	width: 35% !important;
}

.simpleUserIcon {
	margin: 0.5% 0.3% 0.5% 0.2%;
	display: inline-block;
	vertical-align: top;
	cursor: default;
}

.simpleUserInfo {
	margin: 0.5% 0.3% 0.5% 0.2%;
	background-color: #FFF;
	display: inline-block;
	vertical-align: top;
}

.simpleUserInfo p {
	margin: 1%;
}

.simpleUserInfo p:first-child {
	font-weight: 400;
}

.simpleUserInfo p:last-child {
	font-weight: 200;
	color: #D8D8D8;
}

.addAdmin {
	margin: 0 0 1% 1%;
	display: inline-block !important;
}

#addAdmin {
	margin-left: 1%;
	display: inline-block;
}

