#mobileHeader {
	border-bottom: 3px solid #999;
	position: relative;

	-webkit-transition: background-color 0.4s ease;  
	-moz-transition: background-color 0.4s ease; 
	-ms-transition: background-color 0.4s ease;
	transition: background-color 0.4s ease;
}

#mobileHeader h2 {
	font-size: 5vw;
	font-weight: 200;

	padding: 0;
	height: 13vw;

	display: inline;

	line-height: 13vw;
	text-align: right;
}

#mobileHeader .fa {
	font-size: 5vw;
	width: 10vw;
	height: 10vw;
	border: 0;
	line-height: 10vw;

	pointer-events: none;
}

#mSidebarToggle {
	margin: 1.5vw 1vw 1.5vw 1vw;
	width: 10vw;
	height: 10vw;

	background-color: rgba(255,255,255,0);

	display: inline-block;
	text-align: center;

	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;	
}

.selectText {
	margin: 0;
	margin-top: 10%;
	padding: 5%;
}

#mobileBody {
	width: 100%;
	height: 92%;
	margin-bottom: 10%;
	overflow-y: auto;
	overflow-x: hidden;

	-webkit-transition: background-color 0.4s ease;  
	-moz-transition: background-color 0.4s ease; 
	-ms-transition: background-color 0.4s ease;
	transition: background-color 0.4s ease;
}

.mClassContainer {
	opacity: 0;
	border-bottom: 1px solid #AAA;
	position: relative;
}

.mobileClass {
	width: 100%;
	height: 20vw;
	z-index: 30;
}

.mClassContainer:last-child {
	margin-bottom: 20vw;
	border: 0;
}

.mobileType {
	width: 2vw;
	height: 100%;

	display: inline-block;
	pointer-events: none;
}

.mobileClassContent {
	width: 88vw;
	height: 12vw;
	padding: 4vw;

	display: inline-block;
	vertical-align: top;
	pointer-events: none;
}

.mobileClassContent h4 {
	font-size: 5vw;
	vertical-align: top;
}

.mobileClassContent div {
	position: absolute;
	right: 6%;
	bottom: 11%;
	text-align: right;

}

.minorHeader {
	font-size: 4vw !important;
	width: 96%;
	padding: 2%;
	background-color: #444;
}

.mContTop {
	width: 100%;
}

.mName {
	font-size: 4.3vw !important;
	width: 50%;
}

.mDate {
	font-size: 3.4vw !important;
	width: 48%;
	text-align: right;
}

.mClass {
	font-size: 3.5vw !important;
	width: 100%;
}

.mDesc {
	width: 69%;
	font-size: 3.4vw !important;
	color: #BBB;
}

#mainCircleButton {
	position: absolute;
	bottom: 6vw;
	right: 6vw;

	background-color: rgb(255, 26, 26);
}

.mCircleButton {
	width: 13vw;
	height: 13vw;

	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;

	
	-webkit-filter: drop-shadow(3px 4px 4px #111);
	filter: drop-shadow(3px 4px 4px #111);
}

.mCircleButton .fa {
	font-size: 5vw !important;
	padding: 0 !important;
	width: 100%;
	height: 100%;
	margin: auto;
	text-align: center;
	line-height: 13.1vw;

	pointer-events: none;
}

.mUndo {
	font-size: 4vw;
	width: 13vw;
	height: 13vw;

	background-color: rgba(255,255,255, 0.1);

	display: none;
	opacity: 0;

	position: absolute;
	top: 3.75vw;
	right: 4vw;

	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.mUndo .fa {
	width: 100%;
	height: 50%;

	text-align: center;
	line-height: 9vw;
	pointer-events: none;
}

.mUndo p {
	font-size: 3vw;
	width: 100%;
	height: 50%;
	margin: 0;

	text-align: center;
	pointer-events: none;
}

.mUndoText {
	font-size: 4vw !important;
	height: 13vw;

	display: none;
	opacity: 0;

	position: absolute;
	top: 3.75vw;
	left: 8vw;

	line-height: 13vw;

	pointer-events: none;
}

#mOverlay {
	height: 100%;
	width: 100%;

	background-color: rgba(0,0,0,0.3);

	display: none;
	opacity: 0;

	position: absolute;
	top: 0;
	left: 0;

}

#mSidebar {
	height: 100%;
	width: 85%;

	background-color: #fff;
	box-shadow: 2px 0px 1px 1px #222;

	position: absolute;
	top: 0;
	left: -100vw;

	overflow-y: auto;

	-webkit-transition: background-color 0.4s ease;  
	-moz-transition: background-color 0.4s ease; 
	-ms-transition: background-color 0.4s ease;
	transition: background-color 0.4s ease;
}

.mSectionTitle {
	width: 100%;
	height: 13vw;
	margin-top: 13vw;
	background-color: rgba(255,255,255,0.1);
}

.mSectionTitle h3 {
	font-weight: 200;
	font-size: 4vw;
	padding-left: 6%;
	line-height: 13vw;
}

.mOpenable .fa {
	font-size: 4vw;
	height: 13vw;
	padding: 0;
	padding-right: 6%;
	float: right;
	line-height: 13vw;
}

.mOpenable h3:first-child {
	font-weight: 200;
	display: inline-block;
	pointer-events: none;
}

.mSectionMode {
	font-size: 4vw !important;
	width: 100%;
	height: 13vw;
	display: table;
	background-color: rgba(0,0,0,0.1);
}

.mStatus {
	width: 2% !important;
	height: 100%;
	display: table-cell;
	
	-webkit-transition: background-color 0.3s ease;  
	-moz-transition: background-color 0.3s ease; 
	-ms-transition: background-color 0.3s ease;
	transition: background-color 0.3s ease; 
}

.mSectionMode .fa {
	font-size: 4vw;
	width: 10%;
	padding: 0 6% 0 6%;
	line-height: 13vw;
	display: table-cell;
	vertical-align: middle;
}

.mSectionMode h4 {
	font-size: 3.5vw !important;
	width: 65%;
	padding-left: 5%;
	line-height: 13vw;
	display: table-cell;
	vertical-align: middle;
}

#mFilterWrapper {
	display: none;
}

#mDisableFilter {
	font-weight: 200;
	font-size: 90%;
	margin-left: 30%;
	padding: 3%;

	background-color: rgba(255,255,255,0.2);

	display: none;
	line-height: normal;
	pointer-events: all;
	z-index: 2;
}

#mTypeFilterWrapper {
	margin-top: 0;
}

#mClassFilterWrapper {
	margin-top: 0;
}

.mSideFilter, .mSideClass {
	width: 100%;

	background-color: rgba(0,0,0,0.1);
	display: table;
}

.mSideTypeName {
	font-size: 3.5vw;
	width: 92%;
	margin: 0;
	padding: 5%;
	padding-left: 5%;
	
	display: table-cell;
}

.mSideClass span {
	font-weight: 200;
	margin: 0;
	font-size: 3.5vw;
	padding: 5%;
	display: table-cell;
	pointer-events: none;
}

.mSideClassName {
	width: 50%;
	padding-left: 5%;
}

.mSideClassHour {
	width: 50%;
	color: #CCC;
}

#mSettings, #mSignOut {
	background-color: rgba(255,255,255,0.1);
}

#mSettings h3, #mSignOut h3 {
	padding: 0;
}

#mSignOut {
	margin-top: 0;
}

.mNoneText {
	font-weight: 300;
	font-style: italic;
	padding: 5%;
}

#dueDateCont, #typeCont {
	position: relative;
}

#dueDateCont i, #typeCont i {
	position: absolute;
	top: calc(10% + 2vw);
	right: 4%;
}

#name, #class, #dueDate, #type, #description {
	font-size: 3.7vw;
	width: 95%;
	padding: 2.5%;
	border-bottom: 1px solid #888;
	outline: none;
}

#mRestrictText {
	width: 94%;
	text-align: right;
	padding: 3%;
}

#mReport {
	position: absolute;
	bottom: 21vw;
	right: 6vw;

	background-color: rgb(101, 101, 101);

	-webkit-transition: background-color 0.4s ease;  
	-moz-transition: background-color 0.4s ease; 
	-ms-transition: background-color 0.4s ease;
	transition: background-color 0.4s ease; 
}

#mConfirm {
	position: absolute;
	bottom: 36vw;
	right: 6vw;

	background-color: rgb(101, 101, 101);

	-webkit-transition: background-color 0.4s ease;  
	-moz-transition: background-color 0.4s ease; 
	-ms-transition: background-color 0.4s ease;
	transition: background-color 0.4s ease; 
}

.mNum {
	font-size: 4vw;
	width: 4vw;
	margin: 0;
	padding: 1.5%;

	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;

	text-align: center;
	background-color: rgba(255,255,255,0.3);
}

#mConfirmNum {
	position: absolute;
	bottom: 38.5vw;
	right: 21vw;
}

#mReportNum {
	position: absolute;
	bottom: 23.5vw;
	right: 21vw;
}

.mOption {
	font-size: 3.7vw;
	width: 92%;
	padding: 4%;
	border-bottom: 1px solid #888;
	background-color: rgba(255,255,255,0.05);
	display: table;
}

.mOpTitle {
	margin: 0;
	width: 40%;
	display: table-cell;
}

.mOpVal {
	width: 30%;
	display: table-cell;
	text-align: right;
}

.mOptionText {
	font-size: 3.5vw;
	width: 92%;
	margin: 0;
	padding: 5%;
	padding-left: 7%;

	display: table-cell;
}